.container {
  display: grid;
  justify-items: center;
  height: 100vh;
  width: 100vw;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 1rem;
    width: 100vw;
    height: 60px;
    border-radius: 0 0 20px 20px;
  
    background: rgba(0,0,0,0.9);
    color: var(--white);
  
    svg {
      transition: 350ms;
    }
  
    svg:hover {
      color: var(--green-light)
    }
  
    button {
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      overflow: hidden;
      color: var(--white);
    }
  
    .userInformation {
      display: flex;
      flex-direction: row;
      width: 200px;
      justify-content: space-between;
    }
  }
  
  .mainContent {
    background: rgba(0,0,0,0.85);
    width: 95vw;
    height: 85vh;
    border-radius: 20px;

    h1 {
      text-align: center;
    }

    .showAllRooms {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-items: center;
      overflow-y: scroll;
      width: 100%;
      height: 90%;
      padding: 20px 0 0 0;

      .room {
        width: 25vw;
        height: 60vh;
        border-radius: 20px;
        -webkit-transition: -webkit-transform .5s ease;
        transition: transform .5s ease, width 2s, height 2s;
        margin-bottom: 25px;

        .admInformation {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          background: var(--green-light);
          height: 40%;
          border-radius: 20px 20px 0 0;
        }

        .roomInformation {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;

          background: #191E19;

          height: 60%;
          border-radius: 0 0 20px 20px;
          padding: 0 5px;

          span {
            display: flex;
            color: var(--white)
          }

          button {
            height: 5vh;
            border-radius: 7px;
            width: 10vw;
            transition: .4s ease;
          }

          button:hover {
            background: var(--green-light);
            border: 2px solid var(--white);
            color: var(--white);
            font-weight: 600;
          }
        }
      }
      .room:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }

     
    }
   
  }
  @media (max-width: 418px) {
    .mainContent {
      width: 100vw;
      .showAllRooms {
        display: grid;
        grid-template-columns: 1fr;
  
        .room {
          width: 85%;
          margin-top: 40px;
  
          .roomInformation {
            button {
              width: 75vw;
            }
          }
          .room:hover {
            -webkit-transform: none;
            transform: none;
          }
        }
      }
    }
  }
}