.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 0 1rem;
  width: 100vw;
  height: 60px;
  border-radius: 0 0 20px 20px;

  background: rgba(0,0,0,0.9);
  color: var(--white);

  button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    color: var(--white);
  }

  .userInformation {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;

  }
}